<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comuna18</title>
</head>
<body style="background: black">
    <h1 style="color: white; text-align: center">Comuna Project</h1>

    <hr>

    <h2 style="text-align: center"><a href="/docs/" style="color: whitesmoke">Docs</a></h2>
    <h2 style="text-align: center"><a href="/cov/index.html" style="color: whitesmoke">Coverage</a></h2>
    <h2 style="text-align: center"><a href="/admin/" style="color: whitesmoke">Admin</a></h2>

</body>
</html>
