{% extends 'registration/registration_base.html' %}
{% load i18n static crispy_forms_tags %}

{% block main_container %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Logout</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Sesi&oacute;n cerrada correctamente.</p>
                <p><a class="btn btn-primary" href="/">Iniciar Sesi&oacute;n</a></p>
            </div>
        </div>
    </div>
{% endblock %}
