{% extends 'registration/registration_base.html' %}
{% load i18n static crispy_forms_tags %}

{% block main_container %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Email Enviado</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Hemos enviado un email con las instrucciones para cambiar tu contrase&ntilde;a. Deberias recibirlo pronto.</p>
                <p>En caso de que no recibas el email por favor asegurate que el email que usaste sea v&aacute;lido y est&eacute; escrito correctamente. Adicionalmente tambien verifica la carpeta de SPAM.</p>
                <a href="/" class="btn btn-primary">Volver al Login</a>
            </div>
        </div>
    </div>
{% endblock %}
