{% extends 'registration/registration_base.html' %}
{% load i18n static crispy_forms_tags %}

{% block main_container %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Contrase&ntilde;e Recuperada</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Tu contrase&ntilde;a fue cambiada exitosamente.</p>
                <a href="/" class="btn btn-primary">Inicia Sesi&oacute;n</a>
            </div>
        </div>
    </div>
{% endblock %}
