{% extends 'registration/registration_base.html' %}
{% load i18n static crispy_forms_tags %}

{% block main_container %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Recupera tu Contrase&ntilde;a</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Introduce tu email a continuaci&oacute;n y te enviaremos las instrucciones para configurar una nueva contrase&ntilde;a.</p>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Recuperar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
